.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    .title {
        margin: 10px 0;
    }
    button {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .sign-up {
width: 310px;    }
}