.sign-in {
  width: 400px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .sign-in {
    width: 310px;
    .buttons {
    flex-direction: column;
    gap: 15px;
  }
  }
}
