.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  &:hover {
    .image {
      opacity: 0.8;
    }
    .custom-button {
      opacity: 0.75;
      display: flex;
    }
  }
  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.5;
    position: absolute;
    top: 250px;
    display: none;
  }
  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}

@media (max-width: 600px) {
  .collection-item {
    width: 46%;
    height: 200px;
    margin-bottom: 90px;
    .custom-button {
      top: 220px;
      display: block;
      font-size: 10px;
      padding: 0;
      width: 100%;
      opacity: 1;
    }
    .collection-footer {
      .name {
      font-size: 16px;
    }

    .price {
      font-size: 16px;
      width: 15%;
    }
    }
    
  }
}
