* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  padding: 20px 70px;
}
a {
  text-decoration: none;
  color: black;
}

@media (max-width : 600px) {
  body {
    padding: 20px 40px;
    font-size: 14px;
  }
}